{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="password-change">
    <h2>Change password</h2>
    <form method="post">
        {% csrf_token %}
            <div class="form-group-password">
                {{ form.as_p }}
            </div>
        <input type="submit" value="Изменить пароль" class="btn-login btn-primary">
    </form>
    <a href="{% url 'website:index' %}" class="button-login" style="display: block; width: 100%; text-align: center;">Вернуться на главную</a>

</div>
{% endblock %}
{% include "footer.html" %}