{% extends "base.html"%}
{% load static %}
{% block content %}
{% if not profile %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.first_name }}</p>
    <p>{{ form.last_name }}</p>
    <p><input type="file" name="profile_image"></p>
    <p>{{ form.phone_number }}</p>
    <button type="submit">Отправить</button>
</form>
{% endif %}
<div class="container">
    {% for profiles in profile %}
    <img src="{{ profiles.profile_image.url }}" style="max-width: 450px; max-height: 200px;">
    <p>First_name: {{ profiles.first_name }}</p>
    <p>Last_name: {{ profiles.last_name }}</p>
    <p>Number: {{ profiles.phone_number }}</p>
    {% endfor %}

</div>
{% endblock %}
{% include "footer.html" %}