{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="container mt-5">
    <div class="row">
        {% if not profile %}
        <div class="col-md-6">
            <h2 class="mb-4">Create Profile</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.first_name.id_for_label }}" class="form-label">First Name</label>
                    {{ form.first_name }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.last_name.id_for_label }}" class="form-label">Last Name</label>
                    {{ form.last_name }}
                </div>
                <div class="mb-3">
                    <label for="profile-image" class="form-label">Profile Image</label>
                    <input class="form-control" type="file" name="profile_image" id="profile-image">
                </div>
                <div class="mb-3">
                    <label for="{{ form.phone_number.id_for_label }}" class="form-label">Phone Number</label>
                    {{ form.phone_number }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        {% endif %}
        <div class="col-md-6">
            <h2 class="mb-4">My Profile</h2>
            {% for profiles in profile %}
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ profiles.profile_image.url }}" class="card-img-top" alt="Profile Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ profiles.first_name }} {{ profiles.last_name }}</h5>
                            <p class="card-text">Phone: {{ profiles.phone_number }}</p>
                            <a href="#" class="btn btn-primary">Edit Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <!-- right section -->
                </div>
            </div>
            {% empty %}
            <p>No profiles found.</p>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
{% include "footer.html" %}

