{% extends "base.html"%}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<h1 class="text-center  mt-3">Онлайн запись</h1>

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <form method="post" action="{% url 'booking:booking_day' %}" class="me-2 ms-2">
        {% csrf_token %}
            <!--input day-->
            <div class="mt-3">
                <h3 class="">Выберите день:</h3>
                <select class="form-select" name="day">
                    {% for validateWeekday in validateWeekdays %}
                    <option value="{{validateWeekday}}">{{validateWeekday}}</option>
                    {% endfor %}
                </select>
            </div>

            <br/>
            <button type="submit" class="btn btn-primary text-white">Продолжить</button>
    </form>
</div>
{% endif %}
{% endblock %}