{% extends "base.html"%}
{% load static %}
{% block content %}
<h1 class="custom">Ваши записи</h1>
{% if appointments.count > 0 %}
<div class="my_div">
    <div>
        {% for appointment in appointments %}
        <div class="list-group">
            <p class="list-group item">День: {{ appointment.day }}</p>
            <p class="list-group item">Время: {{ appointment.time }}</p>
            <p class="list-group item">Услуга: {{ appointment.service.name }}</p>
            <div class="mt-3 mb-2">
                <a class="btn btn-primary rounded-3 p-2" href="{% url 'booking:userUpdate' appointment.id %}">Редактировать запись</a>
                <a class="btn btn-primary rounded-3 p-2" href="{% url 'booking:remove' appointment.id %}">Удалить запись</a>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}